<mat-toolbar class="toolbar">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Horde</span>
  <span class="example-spacer"></span>
  <div *ngIf="user.email != null">
    {{user.email}}
  </div>
  <div *ngIf="user.email == null">
    <a href='/login'>Log me in</a>
  </div>
  <div><router-outlet /></div>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="main-navigation-container" >
  <mat-sidenav class="main-navigation" mode="side" opened>
    <mat-nav-list>
    <a mat-list-item  >{{ "link" }}</a>
  </mat-nav-list></mat-sidenav>

  <mat-sidenav-content class="main-content"> <router-outlet />
    </mat-sidenav-content>
</mat-sidenav-container>


